* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
}
html,body {
    width:100vw;
    height:100vh;
    overflow: hidden;
}
.banner {
    width:100vw;
    height:74vh;
    margin: 10vh auto;
    cursor: pointer;
}
.item div {
    background: rgba(0,0,0,0.5);
    width: 10vw;
    height: 100%;
}
.item {
    float: left;
    width: 10vw;
    height: 74vh;
    color: #fff;
    transition: width 1.5s;
}
.change {
    width: 70vw;
}
.item p {
    float: left;
    width: 12px;
    font-size:12px;
    margin:25px 8px ;

}
.biger {
    font-size: 16px!important;
}
.item p + .item p {

}
/* 同级目录下面的图片，做背景图是还需要加 ../   */
.pic1 {
    background-image: url("../img/pic1.jpg");
}
.pic2 {
    background-image: url("../img/pic2.jpg");
}
.pic3 {
    background-image: url("../img/pic3.jpg");
}
.pic4 {
    background-image: url("../img/pic4.jpg");
}
.pic5 {
    background-image: url("../img/pic5.jpg");
}
.pic6 {
    background-image: url("../img/pic6.jpg");
}
